<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<!-- 별칭작성 -->
	<typeAliases>
		<typeAlias type="fodics.web.jsy.dataSearch.model.dto.DataSearch" alias="DataSearch"/>
		<typeAlias type="fodics.web.jsy.dataSearch.model.dto.Flooding" alias="Flooding"/>
		<typeAlias type="fodics.web.jsy.dataSearch.model.dto.Date_flooding" alias="Date_flooding"/>
		<typeAlias type="fodics.web.jsy.dataSearch.model.dto.Min_flooding" alias="Min_flooding"/>
		<typeAlias type="fodics.web.jsy.dataSearch.model.dto.OpenAndClose" alias="OpenAndClose"/>
		<typeAlias type="fodics.web.jsy.equimentControl.model.dto.EquimentControl" alias="EquimentControl"/>
		<typeAlias type="fodics.web.jsy.inundationSetting.model.dto.InundationSetting" alias="InundationSetting"/>
		<typeAlias type="fodics.web.jsy.inundationSetting.model.dto.ThresholdSetting" alias="ThresholdSetting"/>
		<typeAlias type="fodics.web.jsy.outputReport.model.dto.OutputReport" alias="OutputReport"/>
	</typeAliases>
	
	<!-- mapper파일 등록 -->
	<mappers>
		<mapper resource="/mappers/dataSearch-mapper.xml"/> 
		<mapper resource="/mappers/equimentControl-mapper.xml"/> 
		<mapper resource="/mappers/inundationSetting-mapper.xml"/> 
		<mapper resource="/mappers/outputReport-mapper.xml"/> 
	</mappers>
	
</configuration>
