<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<!-- 별칭작성 -->
	<typeAliases>
		<typeAlias type="fodics.web.jsy.dataSearch.model.dto.DataSearch" alias="DataSearch"/>
		<typeAlias type="fodics.web.jsy.equipmentControl.model.dto.EquipmentControl" alias="EquipmentControl"/>
		<typeAlias type="fodics.web.jsy.inundationSetting.model.dto.InundationSetting" alias="InundationSetting"/>
		<typeAlias type="fodics.web.jsy.outputReport.model.dto.OutputReport" alias="OutputReport"/>
		<typeAlias type="fodics.web.jsy.main.model.dto.Main" alias="Main"/>
	</typeAliases>
	
	<!-- mapper파일 등록 -->
	<mappers>
		<!-- <mapper resource="/mappers/main-mapper.xml"/> -->
		<!-- <mapper resource="/mappers/dataSearch-mapper.xml"/> -->
	</mappers>
	
</configuration>
