<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="equimentControlMapper">

	<resultMap type="EquimentControl" id="_EquimentControl">
     	<result property="gateCode" column="GATE_CODE" />
	</resultMap> 

	 <resultMap id="_int" type="java.lang.Integer"/>
	 
	 
	 <select id="gateCodeList" resultMap="_EquimentControl">
		SELECT GATE_CODE
		FROM TB_TEMP_DATE_CONTROL_LOG
	 </select>
	 

</mapper>
