/* @media(min-width: 2560px){ */



    *{ 
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        background-color: white;
        color:black;
    }


    /* 다 만들고 삭제예정 */
    div, main, section, header, footer, article, nav, aside, form 
    { 
        /* border: 1px solid blue;  */
    }  


    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* 최소 높이를 뷰포트 높이의 100%로 설정합니다. */
        justify-content: center;
    }


    /* header{
        height: 94px;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .headContiner{
        width: 1780px; height: 100%; display:flex; align-items: center;
    }

    .headContent{
        width: 1200px;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 15px;
    }

    .logo{
        width: 219px;
        height: 60px;
    }

    .menuContiner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 720px;
        font-size: 24px;
        font-weight: bolder;
        margin: 0 0 0 60px;
    } 

*/


    main{
        /* width: 1140px; */
        margin: auto;
        min-width: 100%;
        height: 1100px;

        /* min-height: 요소의 최소 높이  
                        -> 내부 요소 없어도 최소 높이 유지
                        -> 내부 요소가 지정된 크기를 초과하면 
                            그에 맞게 늘어남
        */
        /* min-height: 500px; */
        display:flex;
        flex-direction: row;
        justify-content: center;
    }

    a{
        text-decoration: none;
    }

    section{
        /* width:100%; */
        width: 1780px; /*임의설정 차후 네이버 보고 맞출 것*/
        height:100%;
        display: flex;

        }


    .sectionBox01{
        width: 230px;
    }


    .listBox{
        min-width: 200px;
        margin: 20px 15px 15px 15px;
        border: 1px solid #e6ecf0;
    }

    .listTitle{
        height: 100px;
        width: 100%;
        background-color: #5ab8de;
        color: white;
        font-size: 20px;
        text-align: center;
        line-height: 100px;

    }

    .listContent{
        height: 40px;
        border-bottom: 1px solid #e6ecf0;
        padding-left: 20px;
        font-weight: bold;
        cursor: pointer;
        line-height: 40px;
    }

    .pageFoward{
        color: #656565;
        font-size: 16px;
    }

    .nowForward{
        color: #5ab8de;
    }






    .sectionBox02{
        width: 1550px;
    }









    .searchContainer01{
        margin-top: 20px;
    }




    .titleContiner01{
        display: flex;
        flex-direction: row;
        justify-content: start;
    }

    .titleBox{
        display: flex;
        flex-direction: row;
        height: 50px;
        align-items: center;
    }

    .titleName{
        font-size: 28px;
        font-weight: bold;
    }



    .typeBox{
        /* height: 100%; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* align-items: end; */
        margin: 0 0 0 15px;
    }

    .typeBox>*{
        margin: 0 5px 0 0;
    }


    .rainfall{
        font-size: 16px;
        padding: 5px 8px;
        border: 1px solid #A3A3A3;
        color:#A3A3A3;
        border-radius: 50px;
    }

    .rainfall:hover{
        cursor: pointer;
    }


    .active{
        color: #5ab8de;
        border: 1px solid #5ab8de;
    }


    .titleContiner02{
        display: flex;
        flex-direction: row;
        justify-content: end;
    }


    .subTitleBox{
        display: flex;
        align-items: end;
    }


    .subTitle{
        font-size: 12px;
    }



    .searchContainer02{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }


    .measure{
        font-size: 14px;
        color: #777;
    }


    .selectDate{
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    .kindBox{
        display: flex;
        align-items: center;
        margin-left: 5px;
    }

    .kindSelect{
        vertical-align:middle;
    }


    .kindSelect:hover{
        cursor: pointer;
    }






    .areaBox{
        display: flex;
        align-items: center;
        margin-left: 5px;
    }

    .areaSelect{
        vertical-align:middle;
    }


    .areaSelect:hover{
        cursor: pointer;
    }



    .yearBox{
        margin-left: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .yearSelect{
        vertical-align:middle;
    }


    .yearSelect:hover{
        cursor: pointer;
    }
    
    
    .monthBox{
        margin-left: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .monthSelect{
        vertical-align:middle;
    }

    .monthSelect:hover{
        cursor: pointer;
    }



    .dayBox{
        margin: 0 5px 0 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .daySelect{
        vertical-align:middle;
    }

    .daySelect:hover{
        cursor: pointer;
    }

    .searchBtn{
        width: 36px;
        height: 25px;
        margin: 0 5px 0 5px;
        background-color: #ccc;
    }

    .searchBtn:hover{
        cursor: pointer;
    }

    .downloadBtn{
        width: 100px;
        height: 25px;
        margin: 0 10px 0 10px;
        background-color: #ccc;
    }

    .downloadBtn:hover{
        cursor: pointer;
    }







    /* 테이블 css시작 */

    .tableContainer{
        margin: 10px 0 10px 0;
        overflow-y: auto;
    }


    .tableContainer>div{
        max-height:950px;
        overflow-y: auto;
    }

    .rainfullTable{
        border: 1px solid #DCCDE3;
        width: 100%;
        border-collapse: collapse;
    }


    .rainfullThead{
        height: 35px;
    }
    
    /* 일간강우 시작*/
    
    .areaName{
        background-color: #EBE2EF;
        color:#5b416b;
        width: 100px;
    }


    .htrDate{
        background-color: #EBE2EF;
        color:#5b416b;
        width: 125px;
    }

    .dayData{
        background-color: #EBE2EF;
        color:#5b416b;
    }
    

    .time{
        background-color: #EBE2EF;
        color:#5b416b;
        width: 200px;
        font-weight: bold;
    }

    .dataType{
        background-color: #EBE2EF;
        color:#5b416b;
        width: 200px;
        font-weight: bold;
        text-align: center;
    }


    

    .areaNameData{
        font-weight: bold;

    }

    .maxData{
        background-color: #FAE4D6;

    }
    .minData{
        background-color: #FBF4E0;
    }








    
    .rainfull{
        height: 35px;
        font-size: 12px;
        border: 1px solid #DCCDE3;
        text-align: center;
    }


    /* 테이블 css끝 */








    footer{
        height: 115px;

        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


    footer>div{
        font-size: 12px;
        color: #555;
        padding: 0 0 0 15px;
        width: 1780px; 
        height: 100%; 
        display:flex; 
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center;
    }


    
/* } */